html {
  background-color: lavender;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

h1 {
  margin: 10px 10px 10px 10px;
  font-family: fantasy;
}

:global(.App) {
  font-family: monospace, Arial, Microsoft JhengHei;
  text-align: center;
}

:global(.Header) {
  display: block;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding: 10px;
}


:global(.Entry) {
  display: block;
  max-width:400px;
  margin-left: auto;
  margin-right: auto;
}

:global(.LogSignBtn) {
  display: block;
  width: 100%;
  height: 30px;
  color: white;
  background-color: gray;
  margin-top: 20px;
  line-height: 30px;
}

:global(.LogSignBtn:hover) {
  background-color: black;
  cursor: pointer;
}

:global(.InviteBtn) {
  margin-top: 0px;
}

:global(.SaveBtn) {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

:global(.PageBtn) {
  display: inline-block;
  width:50%;
  height: 40px;
  color: white;
  font-size: large;
  background-color: gray;
  line-height: 40px;
}

:global(.PageBtn:hover), :global(.BtnClicked) {
  background-color: black;
  cursor: pointer;
}

:global(.EventRow) {
  display: block;
  max-width: 300px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  background: rgba(0,0,0,0.1);
}

:global(.EventRow:hover) {
  cursor: pointer;
  background: rgba(0,0,0,0.2);
}

:global(.EventInfo) {
  display: block;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

:global(.Create) {
  display: block;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

:global(.Holder) {
  margin-top: 5px;
  font-style: oblique;
  color: gray;
}

:global(.Description) {
  display: block;
  margin-top: -15px;
  word-wrap: break-word;
}

:global(.Selected) {
  display: -webkit-flex;
  display: flex;
  width: 60%;
  margin-top:5px;
  margin-left: auto;
  margin-right: auto;
}

:global(.DeleteBtn) {
  -webkit-flex: 1;
  flex: 1;
}

:global(.Options) {
  margin-top: 20px;
}

:global(.OptionRow) {
  display: -webkit-flex;
  display: flex;
  max-width: 300px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  background: rgba(0,0,0,0.1);
}

:global(.CheckBox) {
  -webkit-flex: 1;
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

:global(.Time) {
  -webkit-flex: 9;
  flex: 9;
  position: relative;
  text-align: left;  
}

:global(.Name) {
  -webkit-flex: 9;
  flex: 9;
}

:global(.Percentage) {
  display: block;
  height: 100%;
  background: rgba(0,0,0,0.3);
  overflow: hidden;
  position: absolute;
  text-align: left;
}

:global(.Count) {
  -webkit-flex:1;
  flex: 1;
}

:global(.OptionRow:hover) {
  cursor: default;
}

:global(.Selected:hover) {
  cursor: default;
  background: rgba(0,0,0,0.2);
}

:global(.DeleteBtn:hover), :global(.CheckBox:hover),
:global(.Count:hover) {
  filter: invert(1);
  cursor: pointer;
}

:global(.Info) {
  display: inline-block;
  width: 270px;  
  padding:10px;
  vertical-align: top;
}

:global(.Invite) {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  padding:10px;
}

:global(.Header:hover), :global(.Selected:hover),
:global(.EventInfo:hover), :global(.Create:hover) {
  cursor: default;
}

:global(.None) {
  -webkit-flex: 8;
  flex: 8;
}
:global(.Check) {
  text-align: right;
  font-weight: bold;
}

:global(.Participant) {
  margin-left: 50px;
}

textarea {
  resize: none;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,0.1);
  outline: medium;
  text-align: center;
  font-size: large;
  font-family: monospace, Arial, Microsoft JhengHei;
  margin-top: 5px;
}

input {
  box-sizing: border-box;
  padding: 5px;
  border: none;
  width: 100%;
  height: auto;
  background: rgba(0,0,0,0.1);
  outline: medium;
  text-align: center;
  font-size: large;
  font-family: monospace, Arial, Microsoft JhengHei;
}

input:disabled, textarea:disabled {
  color: gray;
  background: rgba(0,0,0,0.2);
}

input:focus, textarea:focus {
  border-bottom: 2px solid gray;
}
